Documentation Link: https://www.alphavantage.co/documentation/

In [1]:
import requests

API_KEY = '9MBUP7GPCWD3VV9S'
BASE_URL = 'https://www.alphavantage.co/query'

def get_intraday_data(symbol, interval='1day'):
    """
    Fetch intraday data for a given symbol from Alpha Vantage.
    interval options include '1min', '5min', '15min', '30min', '60min'.
    """
    params = {
        'function': 'TIME_SERIES_DAILY',
        'symbol': symbol,
        'interval': interval,
        'apikey': API_KEY,
        'datatype': 'json'
    }
    response = requests.get(BASE_URL, params=params)
    data = response.json()
    return data

symbol = 'AAPL'
intraday_data = get_intraday_data(symbol)

In [2]:
import pandas as pd

# Extract the 'Time Series (1 day --- daily)' data
time_series = intraday_data['Time Series (Daily)']

df = pd.DataFrame.from_dict(time_series, orient='index')

df.rename(columns={
    '1. open': 'open',
    '2. high': 'high',
    '3. low': 'low',
    '4. close': 'close',
    '5. volume': 'volume'
}, inplace=True)

df = df.astype({
    'open': 'float',
    'high': 'float',
    'low': 'float',
    'close': 'float',
    'volume': 'int'
})

df.index = pd.to_datetime(df.index)

# sort the DataFrame by date in ascending order
df.sort_index(inplace=True)
df

              open     high       low   close    volume
2024-09-27  228.46  229.520  227.3000  227.79  34025967
2024-09-30  230.04  233.000  229.6500  233.00  54793391
2024-10-01  229.52  229.650  223.7400  226.21  63285048
2024-10-02  225.89  227.370  223.0200  226.78  32880605
2024-10-03  225.14  226.805  223.3200  225.67  34044158
...            ...      ...       ...     ...       ...
2025-02-14  241.25  245.550  240.9900  244.60  40896227
2025-02-18  244.15  245.180  241.8400  244.47  48822491
2025-02-19  244.66  246.010  243.1604  244.87  32204215
2025-02-20  244.94  246.780  244.2900  245.83  32316907
2025-02-21  245.95  248.690  245.2200  245.55  53197431

[100 rows x 5 columns]